.sidebar {
  // background-color: red;
  z-index: 99;
  position: fixed;
  left: 0px;
  top:50px;
  color: #575757;
  aside {
    border-right: 2px solid rgba(107, 108, 133, 0.1);
    margin: 0;
    position: fixed;
    left: 0;
    top: 78px;
    z-index: 10;
    height: 100%;
    overflow: visible !important;
    background-color: rgb(255, 255, 255);
  }
  &-collapser {
    &-tab {
      display: none;
    }
  }
}
.ps-menu-root {
  padding: 0 10px;
}
.sb-button {
  position: fixed;
  top: 5.2rem !important;
  left: 4rem;
  background-image: linear-gradient(to bottom right, #ff2400, #ff8350);
  width: 25px;
  height: 25px;
  color: rgb(255, 255, 255);
  border-radius: 28px;
  transition: all 0.5s ease-out;
  z-index: 999;
  svg {
    width: 13px;
  }
}
.sb-button-open {
  position: fixed;
  top: 5.2rem !important;
  left: 14.7rem;
  background-image: linear-gradient(to bottom right, #ff2400, #ff8350);
  width: 25px;
  height: 25px;
  color: rgb(255, 255, 255);
  border-radius: 28px;
  transition: all 0.5s ease-out;
  z-index: 999;

  svg {
    width: 13px;
  }
}
.ps {
  &-menu {
    &-icon {
      color: rgba(107, 108, 133, 0.9) !important;
      width: 40px !important;
      min-width: 40px !important;
      height: 40px !important;
      padding: 8px;
      border-radius: 10px !important;
      margin: 0 !important;
      // &:hover{
      //   background-color: var(--secondary-trans);
      //   color:var(--secondary) !important;
      // }
    }
  }
}
.saperator {
  padding: 5px 0 !important;
  border-bottom: 1px solid rgba(107, 108, 133, 0.3);
  margin: 5px 10px;
  color: rgba(107, 108, 133, 0.6);
}

.logo {
  &-icon {
    z-index: 999;
  }
  &-text {
    padding: 0px;
    position: absolute;
    top: 20%;
  }
}

.ps-menuitem-root:nth-of-type(3) {
  .ps-submenu-content {
    top: 3.5rem !important;
    z-index: 10;
  }
}

.border-active {
  width: 5px;
  height: 20px;
  z-index: 10;
  position: absolute;
  left: -4%;
  background-image: linear-gradient(to bottom right, #0124B9, #027BFE);
  border-radius: 0 10px 10px 0;
  animation-delay: 0.5s;
}
.border-active-collapsed {
  width: 5px;
  height: 20px;
  z-index: 10;
  position: absolute;
  left: -15% !important;
  background-image: linear-gradient(to bottom right, #0124B9, #027BFE);
  border-radius: 0 10px 10px 0;
  animation-delay: 0.5s;
}

.sidebarList > a{
 display: flex;
 gap: 3%;
}
.logout-list > a{
  display: flex !important;
  gap: 3%;
  margin-left: 2%;
}

//--------------------------- Responsive Tablet --------------------//

@media screen and (max-width: 992px) {
  .sb-button {
    position: fixed;
    top: 0.8rem !important;
    left: 1rem;
    background-image: none;
    color: rgb(56, 57, 72);
    z-index: 999 !important;
    animation: fadeIn 0.5s;
    svg {
      width: 20px;
    }
  }
  .sb-button-open {
    position: fixed;
    top: 0.8rem !important;
    left: 1rem;
    background-image: none;
    color: rgb(56, 57, 72);
    transition: all 0.5s ease-out;
    animation: fadeIn 0.5s;

    z-index: 999;
    svg {
      width: 20px;
    }
  }
  .sidebar {
    &-tab{
      width: 100%;
      background-color: rgba(107, 108, 133, 0.9);
      // backdrop-filter: blur(10px);
    }
    &-collapser {
      &-des {
        display: none;
      }
      &-tab {
        display: block;
      }
    }
  }
  .sidebar-collapsed {
    // width: 50px;
    left: -80px !important;
    top: 50px;
    position: absolute;
    /* Adjust as needed */
  }

  // .sidebar{
  //   &-expanded {
  //     top:50px;
  //   position: absolute;
  //   width: 150px; /* Adjust as needed */
  //   }

  // }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
