.sidebar{
    width: 250px;
    height: 100vh;
    color: white;
    padding: 15px;
    position: fixed;
    background-color: rgb(247,247,252) !important;
    left: -180px; /* Hidden by default */
    transition: left 0.3s ease;
    z-index: 999;
}


.sidebar.open {
    left: 0;
  }
  
  .sidebar.closed {
    left: -180px;
  }

  /* .toggle-btn{
    margin-left: 160px;
  } */

  .toggle-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
  }

  .sidebar-card{
  background-color: transparent !important;
  border: none !important;
  }


.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.sidebar ul li a {
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.card-body{
  padding: 0 !important; 
}
.sidebar-heading{
  font-weight: bold;
}

.sidebar-icons > a,
.sidebar-icons > span{
  background-color: transparent;
  padding: 3px;
  overflow: hidden ;
}

.sidebar-icons > a:hover,
.sidebar-icons > span:hover{
  box-shadow: 0 5px 15px rgba(151, 150, 150, 0.8);
  border-radius: 20%;
}
/* 
.sidebar-icons > span{
  background-color: transparent;
  padding: 3px;
  overflow: hidden ;
}

.sidebar-icons > span:hover{
  box-shadow: 0 5px 15px rgba(151, 150, 150, 0.8);
  border-radius: 20%;
} */