/* header.css */
.header-container{
display: flex;
position: fixed;
width: 100%;
z-index: 10;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
}

.header-logo {
    width: 120px;
}

.btn-toggle-sidebar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-toggle-sidebar:hover {
    background-color: #0056b3;
}

.date-time {
  display: flex;
  text-align: right;
  justify-content: end;
  align-items: center;
  font-size: 14px;
  color: #333;
}

  .calendar-icon {
    margin-right: 8px;
  }
  
  .ml-2 {
    margin-left: 8px;
  }
