.layout {
  display: flex;
  width: 100%;
  z-index: 1;
}

.d-flex {
  display: flex;
  width: 100%;
}

.collapsed {
  width: 5%;
  transition: width 0.5s;
}

.opened {
  width: 14%;
  transition: width 0.5s;
}

.hero-section {
  flex-grow: 1;
  margin-top: 5rem;
  transition: width 0.5s;
}

/* .opened-hero{
  margin-left: 2.5%;
} */