.container {
    display: inline-flexbox;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .border {
    border: 1px solid #ccc;
  }
  
  .label {
    font-weight: bold;
  }
  
  .login-input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .date-picker {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-schedule,
  .btn-login {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  .btn-schedule {
    background-color: #f44336;
    color: white;
  }
  
  .btn-login {
    background-color: #4caf50;
    color: white;
  }
  
  .btn-schedule:hover,
  .btn-login:hover {
    opacity: 0.8;
  }
  
  select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .gap-2 > * {
    margin-right: 8px;
  }
  
  .m-5 {
    margin: 5px;
  }
  
  .p-5 {
    padding: 5px;
  }
  
  .rounded-4 {
    border-radius: 4px;
  }
  .training-schedule {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Adjust color as needed */
  margin-bottom: 20px;
}